# Exclude node modules
node_modules/

# Exclude build folders
demo-app/www/build-*

# Exclude temporary files
.firebaserc
firebase.json

# Exclude log files
*.log
npm-debug.log.*

# Exclude zip files
*.zip

# Exclude database backup
database-backup.json
