# This file is updated automatically, please add or remove files in the configuration file.

*.log*
*.zip
.DS_Store
.editorconfig
.enable-dev-mode
.eslintrc
.git/
.gitignore
.npmignore
.npmrc
_SYNCAPP/
build/
database-backup.json
ftp-config.json
node_modules/
snapshots/
