/* Body */
body {
  background: #F2F2F2;
}

/* Statusbar */
.statusbar-overlay {
  background: #000000;
}

/* Prevent bouncing with iNoBounce */
#app: {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Phone frame */
#frame {
  width: 100%;
  height: 100%;
}
