# Node modules
node_modules/

# Project snapshots
snapshots/

# Temporary files
.babelrc
.firebaserc
firebase.json

# Log files
*.log
npm-debug.log.*

# Build folders (deprecated)
www/build-*

# ZIP files (deprecated)
*.zip

# Database backup (deprecated)
database-backup.json
