# Start rewrite engine
RewriteEngine On

# Here you specify the build version to be used (two times!)
# Please do it manually only for rollback, it is updated automatically after each successful build process
RewriteCond %{REQUEST_URI} !^/build-0.0.0/
RewriteRule ^(.*)$ /build-0.0.0/$1 [L]

# Forwarding to app home page if file not found
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^build-([0-9.]+)/(.*)?$ /#/$2 [R,L,NE]
