# Node modules
node_modules/

# Project snapshots
snapshots/

# Temporary files
.babelrc
.firebaserc
firebase.json

# Log files
*.log*

# ZIP files (deprecated)
*.zip

# Database backup (deprecated)
database-backup.json
